# Application
NODE_ENV=your_node_env # development, production
PORT=your_port # e.g. 5050
DATABASE_URL=your_database_url # mongodb+srv://<username>:<password>@cluster.mongodb.net/dbname
BCRPYT_SALT_ROUNDS=your_salt_rounds # 12 is recommended
MAX_SESSIONS=your_max_sessions # number of sessions, e.g. 5
ENCRYPTION_KEY=your_encryption_key # 32 characters
CORS_ORIGINS=your_cors_origins # comma separated values, e.g. http://localhost:3000,http://localhost:3001

# JWT Configuration
JWT_VERIFY_EMAIL_SECRET=your_jwt_verify_email_secret
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_VERIFY_EMAIL_EXPIRES_IN=your_jwt_verify_email_expires_in # minutes, e.g. 10m
JWT_ACCESS_EXPIRES_IN=your_jwt_access_expires_in # days, e.g. 1d or 2d
JWT_REFRESH_EXPIRES_IN=your_jwt_refresh_expires_in # days, e.g. 7d or 30d
JWT_REFRESH_EXPIRES_IN_REMEMBER=your_jwt_refresh_expires_in_remember # days, e.g. 30d or 90d

# Refresh Token Cookie
REFRESH_TOKEN_COOKIE_MAX_AGE=your_refresh_token_cookie_max_age # milliseconds, e.g. 604800000 (7d)
REFRESH_TOKEN_COOKIE_MAX_AGE_REMEMBER=your_refresh_token_cookie_max_age_remember # milliseconds, e.g. 2592000000 (30d)

# SMTP Email Configuration
SMTP_USERNAME=your_smtp_username # example@gmail.com
SMTP_PASSWORD=your_smtp_password # 16 digit app password
SMTP_FROM=your_smtp_from # <example@gmail.com>

# Admin Defaults
SUPER_ADMIN_EMAIL=your_super_admin_email
SUPER_ADMIN_PHONE_NUMBER=your_super_admin_phone_number
SUPER_ADMIN_PASSWORD=your_super_admin_password
ADMIN_DEFAULT_PASSWORD=your_admin_default_password
OWNER_DEFAULT_PASSWORD=your_owner_default_password

# Cloudinary
CLOUD_NAME=your_cloudinary_cloud_name
CLOUD_API_KEY=your_cloudinary_api_key
CLOUD_API_SECRET_KEY=your_cloudinary_api_secret_key

# Stripe
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
